*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
}

$GREEN: green;
$BLACK: black;
$WHITE: white;
$ORANGERED: orangered;
$BLUE: blue;
$RED: red;
$ORANGE: orange;
$LIGHTGREEN:yellowgreen;

@mixin playerDefault{
    margin: 5vh 0;
    height: 10vh;
    border-radius: 15px;
    border:3px groove $BLACK;
    min-width: 400px;
}

@mixin flexME{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin fieldDefault{
    opacity: 70%;
    border: 1px solid $BLACK;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

main{
    @include flexME();
    flex-direction: column;
    width: 100%;
    height: 100vh;
    .white-player{
        @include playerDefault();
        @include flexME();
        background-color: rgb(209, 227, 233);
    }
    .black-player{
        @include playerDefault();
        @include flexME();
        background-color: rgb(243, 200, 200);
    }
    img{
        width: 45px;
        cursor:pointer;
    }
    .chess-board{
        .chessField{
        //    border:brown .1rem solid;
        }
        .chessField:nth-child(n+1):nth-child(-n+8):nth-child(ODD),
        .chessField:nth-child(n+9):nth-child(-n+16):nth-child(EVEN),
        .chessField:nth-child(n+17):nth-child(-n+24):nth-child(ODD),
        .chessField:nth-child(n+25):nth-child(-n+32):nth-child(EVEN),
        .chessField:nth-child(n+33):nth-child(-n+40):nth-child(ODD),
        .chessField:nth-child(n+41):nth-child(-n+48):nth-child(EVEN),
        .chessField:nth-child(n+49):nth-child(-n+56):nth-child(ODD),
        .chessField:nth-child(n+57):nth-child(-n+64):nth-child(EVEN){
         //   background-color: $BLACK;
            color:$WHITE;
            background-image: url("../img/GrasTile2.png");
            background-size: contain;
        }

        .chessField:nth-child(n+1):nth-child(-n+8):nth-child(EVEN),
        .chessField:nth-child(n+9):nth-child(-n+16):nth-child(ODD),
        .chessField:nth-child(n+17):nth-child(-n+24):nth-child(EVEN),
        .chessField:nth-child(n+25):nth-child(-n+32):nth-child(ODD),
        .chessField:nth-child(n+33):nth-child(-n+40):nth-child(EVEN),
        .chessField:nth-child(n+41):nth-child(-n+48):nth-child(ODD),
        .chessField:nth-child(n+49):nth-child(-n+56):nth-child(EVEN),
        .chessField:nth-child(n+57):nth-child(-n+64):nth-child(ODD){
         //   background-color: $BLACK;
            color:$WHITE;
            background-image: url("../img/DirtTile.png");
            background-size: contain;
        }


        .chessField:nth-child(n+1):nth-child(-n+64):hover {
            @include fieldDefault();
            background-color: $BLUE ;
            color:$RED;
        }
        
        .chessField:nth-child(n+1):nth-child(-n+64).active {
            @include fieldDefault();
            background-color: $ORANGE;
            color:$GREEN;
        }
        
        .chessField:nth-child(n+1):nth-child(-n+64).active2 {
            @include fieldDefault();
            background-color:$ORANGERED;
            color:$GREEN;
        }
        
        .chessField:nth-child(n+1):nth-child(-n+64).canAttack {
            @include fieldDefault();
            background-color: $RED;
            color:$GREEN;
        }
        display: grid;
        grid-template-columns: repeat(8,1fr);
        grid-template-rows: repeat(8,1fr);
        border: 3px groove $LIGHTGREEN;
        padding: 10px;
        position: relative;
        aside{
            @include fieldDefault;
            @include flexME();
            flex-direction: column;
            background-color: $LIGHTGREEN;
            font-family:  Helvetica, Arial, sans-serif;
            position: absolute;
            width: 120px;
            height: 120px;
            right: -150px;
            bottom: 180px;
            padding: 2px;
        }
        div{
            @include flexME();
            width: 60px;
            height: 60px;
        }  
    } 
}






